.img-resize {
  width: 13em;
}

.style {
  font-size: 20px;
}

.jumbo-style {
  background-image: linear-gradient(-225deg, #2cd8d5 0%, #6b8dd6 48%, #8e37d7 100%);
}

.body-title-style {
  font-size: 25px;
  font-weight: 800;
}

.card-header{
  background-color: rgb(255, 249, 249);
height: 5em;
}

.font-details-b {
  font-size: 3em;
  font-weight: 500;
  color: #ffffff;
}
.title-style{
  font-weight: 800;
}